<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Edit your tracked list
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-radio-group [(ngModel)]="current">
	<ion-row>
		<!-- <ion-col>
		  <ion-item>
			  <ion-label>Edit</ion-label>
			  <ion-radio (ionSelect)="radioChecked('Edit')" mode="md" item-left value="Edit" color="success"></ion-radio>
		 </ion-item>
	  </ion-col> -->
		<ion-col>
			<ion-item>
				<ion-label>Measure</ion-label>
				<ion-radio (ionSelect)="radioChecked('Measure')" mode="md" item-left value="Measure" color="success">
				</ion-radio>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item>
				<ion-label>Remove</ion-label>
				<ion-radio (ionSelect)="radioChecked('Remove')" mode="md" item-left value="Remove" color="success">
				</ion-radio>
			</ion-item>
		</ion-col>

	</ion-row>
</ion-radio-group>
<ion-content padding>
	<!-- <ion-item margin-bottom> -->
	<!-- <ion-icon name="help-circle" (click)="notifications()"></ion-icon> -->
	<!-- <ion-label color="primary" stacked>
    	<ion-text color="dark" class="fw500">Point Number</ion-text>
    </ion-label>
    <ion-input type="number" placeholder="Marker number"></ion-input> -->
	<!-- </ion-item> -->
	<!-- <ion-item>
	<ion-input type="number" max="10"></ion-input>
</ion-item> -->
	<!-- <ion-item> -->
	<!-- <ion-label color="primary" stacked> -->
	<!-- <ion-text color="dark" class="fw500">Point Number</ion-text> -->
	<!-- </ion-label> -->
	<ion-input [(ngModel)]="from" type="number" placeholder="Marker number">From</ion-input>
	<ion-input [(ngModel)]="to" type="number" placeholder="Marker number">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-input>
	<!-- </ion-label> -->

	<!-- <ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">
      <ion-label slot="start"><ion-text color="primary"> {{radiusmiles}}</ion-text></ion-label>
    </ion-range> -->
	<!-- </ion-item> -->
	<!-- <ion-item>
		<ion-label class="no-margin-bottom" stacked>
		<ion-text color="dark" class="fw500">To:</ion-text>
	  </ion-label>
	  <ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">
		<ion-label slot="start"><ion-text color="primary"> {{radiusmiles}}</ion-text></ion-label>
	  </ion-range>
	  </ion-item> -->
	<!-- <ion-item>
	  <ion-label class="fw500" color="dark">Organize by</ion-label>
	  <ion-select [(ngModel)]="organizeby">
	    <ion-select-option>Most Relevant</ion-select-option>
	    <ion-select-option>Closest</ion-select-option>
	    <ion-select-option>Low Price</ion-select-option>
	    <ion-select-option>High Price</ion-select-option>
	    <ion-select-option>Shorter delivery time</ion-select-option>
	    <ion-select-option>Most rating</ion-select-option>
	  </ion-select>
	</ion-item> -->

	<!-- <ion-item>
	  <ion-label class="fw500" color="dark">Dish Type</ion-label>
	  <ion-select [(ngModel)]="dishtype" multiple="true">
	    <ion-select-option>Health Food</ion-select-option>
	    <ion-select-option>Veggie</ion-select-option>
	    <ion-select-option>Pasta</ion-select-option>
	    <ion-select-option>Barbecue</ion-select-option>
	    <ion-select-option>Casual Dining</ion-select-option>
	    <ion-select-option>Fine Dining</ion-select-option>
	    <ion-select-option>Street Food</ion-select-option>
	    <ion-select-option>Fast Food</ion-select-option>
	    <ion-select-option>Pizza</ion-select-option>
	  </ion-select>
	</ion-item> -->

	<!-- <ion-item>
	  <ion-label class="fw500" color="dark">Nationalities</ion-label>
	  <ion-select [(ngModel)]="dishnationality" multiple="true">
	    <ion-select-option>German</ion-select-option>
	    <ion-select-option>Japanese</ion-select-option>
	    <ion-select-option>Korean</ion-select-option>
	    <ion-select-option>Indian</ion-select-option>
	    <ion-select-option>Arabian</ion-select-option>
	    <ion-select-option>Italian</ion-select-option>
	    <ion-select-option>Chinese</ion-select-option>
	    <ion-select-option>Brazilian</ion-select-option>
	    <ion-select-option>Thai</ion-select-option>
	  </ion-select>
	</ion-item> -->

	<!-- <ion-item margin-bottom>
	  <ion-label class="no-margin-bottom">
      <ion-text color="dark" class="fw500">Min/Max Price:</ion-text>
    </ion-label>

      <ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="10" max="1000" step="10" class="no-padding-top">
        <ion-label slot="start"><ion-text color="primary">$ {{minmaxprice.lower}}</ion-text></ion-label>
        <ion-label slot="end"><ion-text color="primary">$ {{minmaxprice.upper}}</ion-text></ion-label>
      </ion-range>
	</ion-item> -->

	<ion-button *ngIf="current ==='Remove'"
		[disabled]="(from === undefined || from === null || to === undefined || to === null)" expand="full"
		color="primary" (click)="actionModal()">Check with map</ion-button>
	<ion-button *ngIf="current ==='Measure'"
		[disabled]="(from === undefined || from === null || to === undefined || to === null)" expand="full"
		color="primary" (click)="calculateAllDistance()">Get Distance</ion-button>
		<ion-card  *ngIf="current ==='Measure'">
			<ion-card-header>
				<ion-card-subtitle *ngIf="(from !== undefined && from !== null && to !== undefined && to !== null)">Marker {{from}} to Marker {{to}} distance</ion-card-subtitle>
				
				<ion-card-title>{{allDistance}}Km</ion-card-title>
			</ion-card-header>
		</ion-card>
	<ion-slides pager="true" [options]="slideOpts" *ngIf="current ==='Remove'" style="background: black !important;">
		
		<ion-slide>
			<ion-card *ngIf="current ==='Remove'" style="background: black !important;">
				<ion-text padding>
					Before
				</ion-text>
				<ion-item class="ion-padding-start" style="width: max-content;">
					<h4>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
					</h4>

				</ion-item>
				<ion-text padding>
					After
				</ion-text>
				<ion-item class="ion-padding-start" style="width: max-content;">
					<h4>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="close" color="danger" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="close" color="danger" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="close" color="danger" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" color="light" name="pin" slot="start"></ion-icon>
					</h4>

				</ion-item>

				<ion-card-content>
					Ex: If you have six markers and then you put 'From' as 1 and to as 3,
					then 1 to 3 markers will be removed.

				</ion-card-content>
				<!-- //todo tell starting index = 0 -->
			</ion-card>
		</ion-slide>
	</ion-slides>
	<ion-slides pager="true" [options]="slideOpts" *ngIf="current ==='Edit'" style="background: black !important;">
		<ion-slide>
			<ion-card>
				<ion-text padding>
					Before
				</ion-text>
				<ion-item class="ion-margin-start ion-padding-start">
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
				</ion-item>
				<ion-text padding>
					After
				</ion-text>
				<ion-item class="ion-margin-start ion-padding-end" style="width: max-content;">
					<h3>
						<ion-icon class="ion-margin-end" name="pin" color="light" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="pin" color="success" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="pin" color="light" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="pin" color="success" slot="start"></ion-icon>
						<ion-icon class="ion-margin-end" name="pin" color="light" slot="start"></ion-icon>
					</h3>

				</ion-item>
				<ion-card-content>
					Ex: If you have 3 markers and then if you put 'From' as 1 and 'To' as 3,
					one marker will be added in between each two points for a selected range.
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card>
				<ion-text padding>
					Before
				</ion-text>
				<ion-item class="ion-margin-start ion-padding-start">
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
					<ion-icon slot="start"></ion-icon>
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
				</ion-item>
				<ion-text padding>
					After
				</ion-text>
				<ion-item class="ion-margin-start  ion-padding-start" style="width: max-content;">
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
					<ion-icon name="pin" color="success" slot="start"></ion-icon>
					<ion-icon name="pin" color="light" slot="start"></ion-icon>
				</ion-item>
				<ion-card-content>
					Ex: If you have 2 markers and then if you put 'From' as 1 and 'To' as 2,
					one marker will be added to the middle of 1 and 2.
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<!-- <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide> -->
	</ion-slides>

</ion-content>