<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
            <ion-text *ngIf="!isWatching" color="light" class="fw700" > 
               Home
                </ion-text> 
                <ion-text *ngIf="isWatching && !isPause" class="blink"  > 
                    Running...
                     </ion-text> 
                     <ion-text style="color: #ff9900;" *ngIf="isWatching && isPause" class="blink"  > 
                      Paused
                       </ion-text> 
                

        </ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="dark">
      <!-- <form > -->
        <ion-item>
          <ion-icon *ngIf="!isWatching" style="color: red;"  name="locate" ></ion-icon>
          <ion-icon class="blink_text"  *ngIf="isWatching" style="color: lawngreen;" name="locate" ></ion-icon>
          <ion-badge style="background: #110a3b !important;">Tracked :{{respValue}}</ion-badge>
          &nbsp;&nbsp;&nbsp;&nbsp;
         
          <span  style="color: whitesmoke;"><p style="font-size: small;width: max-content;">{{accuracy ? 'Hihg':'Default'}} accuracy</p></span>
          <!-- <ion-checkbox slot="right" [(ngModel)]="accuracy.isChecked" (ionChange)="setAaccuracy($event)" class="susecc" style="color: white;background: white;" slot="end" color="light"></ion-checkbox> -->
          <ion-toggle slot="end"  [(ngModel)]="accuracy"  color="success" (ionChange)="setAaccuracy($event)"></ion-toggle>
        </ion-item>
       
        <!-- <ion-grid>
          <ion-row>
            <ion-col>

                  <ion-badge style="background: #110a3b !important;">Tracked :{{respValue}}</ion-badge>

            </ion-col>
            <ion-col>
                    <span style="color: white;font-size: small;" slot="end" >High accuracy</span><ion-checkbox [ngModelOptions]="{standalone: true}" [checked]="accuracy" [(ngModel)]="accuracy" (ionChange)="setAaccuracy($event)" class="susecc" style="color: white;background: white;" slot="end" color="light"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid> -->
          
      <!-- </form> -->


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="checkGpsOn()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="isWatching" style="    margin-top: -11px !important;" vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button (click)="cancelTracking()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="onclickSettings()">
      <ion-icon name="build"></ion-icon>
      
    </ion-fab-button>
    <span
    style="    font-family: cursive;
    color: chartreuse;
    margin-left: 1px;"
    >{{minDistance}}m</span>
  </ion-fab>
  <ion-card no-margin class="no-radius">
    <!-- <ion-item lines="none" color="medium">
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Settings
        <ion-icon name="construct"></ion-icon>
      </ion-button>
    </ion-item> -->
  </ion-card>

  <ion-card class="bg-white" style="margin-top: 0px !important;">
    <ion-img [src]="themeCover" id="just_an_example"></ion-img>
    <ion-card-content style="padding-top: 0px !important;">
      <ion-button  *ngIf="!isPause" disabled ="{{isWatching}}" expand="full" color="dark" margin shape="round" (click)="trackingStatus(0);">
        Start Tracking <ion-icon name="flash" color="success"></ion-icon>
       </ion-button>
       <ion-button *ngIf="!isPause && isWatching" expand="full" color="warning" margin shape="round" (click)="trackingStatus(2);">
         Pause Tracking   <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isPause" expand="full" color="primary" margin shape="round" (click)="trackingStatus(1);">
         Resume Tracking  <ion-icon name="play"></ion-icon>
        </ion-button>
       <ion-button disabled ="{{!isWatching}}" margin shape="round" expand="full" color="danger" (click)="trackingStatus(3)" >
         Stop Tracking <ion-icon name="square"></ion-icon>
       </ion-button>
    </ion-card-content>
    
    <!-- <ion-card > -->
        <!-- <ion-grid>
            <ion-row>
              <ion-col col-6><ion-badge color="success">Tracked Points :{{cashedLocationPoints.length}}</ion-badge></ion-col>
            </ion-row>
          </ion-grid> -->
     
      
      
    <!-- </ion-card> -->

  </ion-card>


  
  <!-- <popmenu></popmenu> -->
</ion-content>
  