<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tracked List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="searchWord"></ion-searchbar>

<ion-content> 
  <ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      <ng-container *ngFor="let item of trackedList | filter: searchWord">
        <ion-item>
          <ion-label [routerLink]="['/about/', item.pid]" routerDirection="forward">{{item.Name}} <ion-badge [routerLink]="['/about/', item.pid]" routerDirection="forward" color="secondary">{{item.Points.length}}</ion-badge></ion-label>
          <ion-badge color="danger" (click)="remove(item.pid)"> <ion-icon name="trash"></ion-icon></ion-badge>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon name="download" (click)="dowloadFileConfirm(item.Points)"></ion-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon name="share" (click)="sendEmail(item)"></ion-icon>
         
        </ion-item>
      </ng-container>
      <ng-container *ngIf="trackedList && trackedList.length <= 0">
        <h3>
          No tracked list found
        </h3>
      </ng-container>
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-list>
 </ion-content>
<!-- <ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://beta.ionicframework.com/docs/">docs</a> will be your guide.</p>
</ion-content> -->

<!-- <ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">

    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>João Firmino</strong>
        </h2>
      </ion-text>
      <ion-text color="tertiary">
        <h3>
          firminoata@gmail.com
        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        Edit profile
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        logout
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>General</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">App Language</ion-label>
      <ion-select [(ngModel)]="lang">
        <ion-select-option *ngFor="let language of languages" [value]="language">{{language}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary"> Enable notifications </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Currency</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Payment Method</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-select-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" slot="start" color="dark"></ion-icon>
      <ion-label color="primary">Currency</ion-label>
      <ion-select [(ngModel)]="currency">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Other</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Enable Promotions</ion-label>
      <ion-toggle [(ngModel)]="enablePromo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Enable History</ion-label>
      <ion-toggle [(ngModel)]="enableHistory"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content> -->
