<ion-list no-padding no-margin>
    <ion-list-header color="dark">
      <ion-label class="fw700">Help</ion-label>
    </ion-list-header>

    <ion-item color="light" class="text-10">
      <ion-icon name="refresh" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Reload Map</ion-text>
    </ion-item>

    <ion-item color="light" class="text-10">
      <ion-icon name="build" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Edit and measure tracked list</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <ion-icon name="download" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Download this tracked list</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <ion-icon name="logo-googleplus" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Share with gmail</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <ion-icon name="add" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Add new marker</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <ion-icon name="shuffle" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Chenage new marker number</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <ion-icon name="checkmark" style="margin-right: 5px;color: #03A9F4;"></ion-icon>
      <ion-text>Save chenges</ion-text>
    </ion-item>
    <ion-item color="light" class="text-10">
      <!-- <ion-icon name="checkmark" style="margin-right: 5px;color: #03A9F4;"></ion-icon> -->
      <ion-text>Click on any where on map to add custom marker</ion-text>
    </ion-item>

    <!-- <ion-item color="light" class="text-10">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>New Offer 10% OFF by month!</ion-label>
    </ion-item> -->

    <!-- <ion-item color="light" class="text-10">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>New Offer 35% OFF</ion-label>
    </ion-item> -->

  </ion-list>