<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [ngStyle]="{ color: canMarkerRemove?'red':'white' }">{{(trainData && trainData.Name)? trainData.Name : 'No tracked list Found'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #map id="map">
  </div>
  <!-- <br> -->
  <ion-fab class="ion-margin-bottom no-margin-top" vertical="center" horizontal="start" slot="fixed" >
    <ion-fab-button [disabled]="canMarkerActive"  (click)="onClickAddnewMarker()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab  class="ion-margin-bottom" vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button [disabled]="!canMarkerActive" (click)="onClickChenageNewMarkerNumber()">
      <ion-icon name="shuffle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-card class="bg-white" no-margin>
  <ion-card-content>
    <!-- <ion-button expand="full" (click)="resetAll()" *ngIf="activeSaveButton">Rest All</ion-button> -->
    <ion-list>
      <ng-container *ngIf="trainData" >
        <!-- <ion-label>
          {{trainData.Name}}
        </ion-label> -->
        
        <ion-button color="primary" *ngIf="trainData.Points" (click)="resetAll()"><ion-icon name="refresh"></ion-icon></ion-button>
        &nbsp;
        <ion-button color="primary" (click)="searchFilter()" >  <ion-icon name="build"></ion-icon></ion-button>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
        &nbsp;
        <ion-button color="primary" *ngIf="trainData.Points"  (click)="dowloadFileConfirm()"> <ion-icon name="download"></ion-icon>
        </ion-button>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
        &nbsp;
        <ion-button color="primary" *ngIf="trainData.Points || (isInAppDataLoad && tempData && tempData.features)" (click)="sendEmailCheckType()"> <ion-icon name="logo-googleplus"></ion-icon></ion-button>
        <!-- &nbsp;
        <ion-button *ngIf="isInAppDataLoad" color="primary" (click)="openFile()"> <ion-icon name="folder-open"></ion-icon></ion-button> -->
        &nbsp;
        <ion-button (click)="saveChanges()" *ngIf="activeSaveButton" color="success"><ion-icon name="checkmark" class="blink_text"></ion-icon></ion-button>
        &nbsp;
        <ion-button (click)="notifications()" *ngIf="!activeSaveButton" color="warning  "> <ion-icon name="help-circle"  ></ion-icon></ion-button>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

        <!-- <ion-icon name="bus" *ngIf="item.selectedPoints !=undefined && item.selectedPoints.length > 0"></ion-icon>
        <p *ngIf="item.selectedPoints ==undefined || item.selectedPoints.length == 0">Not Found</p><br>
        <p *ngIf="item.selectedPoints !=undefined && item.selectedPoints.length != 0">Tracked Points: {{item.selectedPoints.length}}</p> -->
      </ng-container>
    </ion-list>
    
  </ion-card-content>
</ion-card>