<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="login auth-page">
  <ion-card style="background: white;">
    <ion-card-header>
      
      <ion-card-title>What is <b> <a target="_blank" href="https://www.youtube.com/watch?v=JyBTYD0wgiU">Live GEO Location Tracker</a></b>?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This is a tool to track your path and convert it to the GEO JSON type. This is a very useful tool for developers to get coordinates from anywhere they want. You can track your path using this tool. <b>Live GEO Location Tracker</b> has below features.
      <ul>
        <li>Track anywhere you go.</li>
        <li>Save the tracked location list.</li>
        <li>Edit tracked points in google map.</li>
        <!-- <li>You can upload any GEO Json and edit that</li> -->
        <li>Download as GEO JSON</li>
        <li>Share the tracked location list through gmail</li>
      </ul>
    
    </ion-card-content>
    
  </ion-card>
  <ion-card style="background: white;">
    <ion-card-header>
      
      <ion-card-title>How to track ?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <ion-badge color="primary">Before All</ion-badge>
        <li>In <b>Home</b> page, just below <ion-icon name="build"></ion-icon> icon, you can see the distance number. Distance number means the minimum distance between two tracking points in meters(default value is 20m). You can change the distance number by clicking on this icon.</li>
        <li><ion-icon name="refresh"></ion-icon> icon is to refresh the page. It doesn't reset your current tracking. That means if you click that icon after you start tracking, it will not stop or reset the current tracked points.</li>

        <ion-badge color="primary">Step 1</ion-badge>
        <li>Turn on your GPS</li>
        <li>Turn on your mobile data. <p> (Mobile data has to be turned on to enable high accuracy mode)</p></li>
        <li>Turn on high accuracy mode using the toggle.(<b>Recommended</b> to turn this on since it increases tracking accuracy.)</li>
        <ion-badge color="primary">Step 2</ion-badge>
        <li>Click 'STAR TRACKING' button.</li>
        <li>Then start to move.
          <p>You can walk, drive</p>
        </li>
        <ion-img src="https://cdn.dribbble.com/users/1055435/screenshots/4627612/phonewalk.gif" id="just_an_example"></ion-img>
        <li>If you want to pause tracking, click on 'PAUSE'</li>
        <ion-badge color="primary">Step 3</ion-badge>
        <li>When you are done, click on 'STOP TRACKING'
          <p>
            A popup will be opened to give a name for the tracked list.
          </p>
        </li>
        <ion-badge color="primary">Step 4</ion-badge>
        <li>You can download and share the tracked list through gmail.
          (Download location - <b>{{downloadDir}}</b> folder)
        </li>
        <ion-icon name="beer"></ion-icon>Cheers..! You did it..!
        
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card style="background: white;">
    <ion-card-header>
      
      <ion-card-title>How to edit tracked list?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <ion-badge color="primary">Step 1</ion-badge>
        <li>Open sidebar and click on 'Tracked List'.</li>
        <li>Select your tracked list on the given list or you can search.</li>
        <li>You will be navigated to Map view.</li>
        <ion-badge color="primary">Step 2</ion-badge>
        <li>You can click anywhere on the map to add a new marker.</li>
        <li>You can click on any marker and remove that.</li>
        </ul>
        <span style="display: inline-flex">
          <ion-text > <b> Don't forget to save <br> after making a change</b></ion-text>
        <ion-button color="success"><ion-icon name="checkmark" class="blink_text"></ion-icon></ion-button>
        </span>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card style="background: white;">
    <ion-card-header>
      
      <ion-card-title>Can I upload and edit any GEO Json?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Yes you can, refer the below steps.
      <ul>
        <ion-badge color="primary">1 step</ion-badge>
        <li>Open side bar and click on 'Custom Edit'</li>
        <li>You will navigate to empty Map view.</li>
        <ion-badge color="primary">2 step</ion-badge>
        <li>Click on <ion-icon name="folder-open"></ion-icon> icon and select your GEO Json ( Currenty we are supprot only for GEO Json type).</li>
        <li>If get <b> 'Succesfully loded' </b> message. You can continue editing.</li>
        </ul>
        <span style="display: inline-flex">
          <ion-text > <b> Don't forget to save <br> after any change</b></ion-text>
        <ion-button color="success"><ion-icon name="checkmark" class="blink_text"></ion-icon></ion-button>
        </span>
    </ion-card-content>
  </ion-card> -->
  <ion-card style="background: white;">
    <ion-card-header>
      <ion-card-title>Can i remove <b>multiple</b> markers at once?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Yes you can, refer the below steps.
      <ul>
        <ion-badge color="primary">Step 1</ion-badge>
        <li>Open sidebar and click on 'Tracked List'.</li>
        <li>Select your tracked list on the given list or you can search.</li>
        <li>You will be navigated to Map view.</li>
        <ion-badge color="primary">Step 2</ion-badge>
        <li>Click on <ion-icon name="build"></ion-icon> icon.</li>
        <li>It will open a new page.</li>
      
        <ion-badge color="primary">Remove multiple</ion-badge>
        <li>If you give start marker number and end marker number,
          that range will be deleted.(Refer the examples given in that page)
        </li>
        Currently, Live GEO tracker gives only this function. We will improve that in future updates
        </ul>
        <span style="display: inline-flex">
          <ion-text > <b> Don't forget to save <br> after making a change</b></ion-text>
        <ion-button color="success"><ion-icon name="checkmark" class="blink_text"></ion-icon></ion-button>
        </span>
        
    </ion-card-content>
  </ion-card>

  <ion-card style="background: white;">
    <ion-card-header>
      <ion-card-title>Can i share or download this?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Yes you can, refer the below steps.
      <ul>
        <li>Open sidebar and click on 'Tracked List'.</li>
        <li>Select your tracked list on the given list or you can search.</li>
        <li>You can click on the download button or share button.</li>
        <li>Or else you can select that list and navigate to Map view. You can download and share it here as well.</li>
        (Download location - <b>{{downloadDir}}</b> folder)  
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card style="background: white;">
    <ion-card-header>
      <ion-card-title> <ion-icon name="headset"></ion-icon> &nbsp; We are always here to help you.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      If you have any questions regarding this tool please contact us. <br>
      <ion-icon name="logo-googleplus"></ion-icon> &nbsp; <span ><b>teambitcode@gmail.com</b></span>
    </ion-card-content>
  </ion-card>
</ion-content>